<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825427638303-8gl9k7ircr3erl1cdci35lhdp9q5nt9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825427638303-8gl9k7ircr3erl1cdci35lhdp9q5nt9j</string>
	<key>API_KEY</key>
	<string>AIzaSyD6XzdyeSvTq2XqkdKa2bEfcXCIYzSwp6E</string>
	<key>GCM_SENDER_ID</key>
	<string>825427638303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csci6221.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-43041</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-43041.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:825427638303:ios:ffc50908b5481be00f7d2a</string>
</dict>
</plist>
