<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33686375706-mrca68fliu0ngnhovge3l9qbsu7gr19a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33686375706-mrca68fliu0ngnhovge3l9qbsu7gr19a</string>
	<key>API_KEY</key>
	<string>AIzaSyD0r-CtVaFlCqlk4NMRiuyBIF19cALFSbI</string>
	<key>GCM_SENDER_ID</key>
	<string>33686375706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csci6221.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-e5fd8</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-e5fd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33686375706:ios:23fbe8f9c58edf6b1e70a3</string>
</dict>
</plist>